@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .active-bg-scale {
    @apply transform cursor-pointer select-none transition-all duration-150 active:scale-[0.99] active:bg-[var(--van-background)];
  }
  .text-button {
    @apply cursor-pointer select-none border-b-2 border-b-orange-600 text-sm text-[--van-text-color] active:opacity-50;
  }
  .text-button-2 {
    @apply cursor-pointer select-none text-[--van-text-color] hover:text-orange-600 active:opacity-50;
  }
  .clickable {
    @apply cursor-pointer opacity-90 active:opacity-100;
  }
  .up-shadow {
    @apply [box-shadow:0_-1px_3px_0_rgb(0,0,0,0.1),0_-1px_2px_-1px_rgb(0,0,0,0.1)];
  }
}
@layer utilities {
  .mobile-scrollbar::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
    height: 8px;
  }
  .mobile-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(110, 110, 110, 0.2);
    border-radius: 6px;
  }
  .mobile-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: rgba(110, 110, 110, 0.6);
  }
  .mobile-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(110, 110, 110, 0.8);
  }
}

@font-face {
  font-family: 'alipuhui';
  src: url('../assets/font/alipuhui.otf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
  font-family:
    PingFang SC,
    BlinkMacSystemFont,
    'alipuhui',
    '微软雅黑',
    Roboto,
    Helvetica Neue,
    sans-serif !important;
  overflow: hidden;
  -ms-overflow-style: none;
}

#app {
  background-color: var(--van-background);
}

:root:root {
  --van-search-padding: 6px 10px;
  --van-collapse-item-content-padding: 10px 10px;
  --van-tabs-nav-background: var(--van-background-2);
}
.van-button:not(.van-button--primary):not(.van-button--success),
.van-button:not(.van-button--primary):not(.van-button--success)
  > .van-button__content
  > .van-button__text,
.van-cell__title {
  color: var(--van-text-color);
}
.van-toast__text {
  color: var(--van-gray-3);
}
.van-button--danger .van-button__content {
  color: white;
}
.not-mobile-scrollbar {
  ::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 6px;
  }

  :hover::-webkit-scrollbar-thumb {
    background-color: rgba(110, 110, 110, 0.5);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(110, 110, 110, 0.8);
  }
}

.mobile-scrollbar {
  ::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(110, 110, 110, 0.4);
    border-radius: 6px;
  }

  :hover::-webkit-scrollbar-thumb {
    background-color: rgba(110, 110, 110, 0.7);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(110, 110, 110, 0.9);
  }
}

.hide-vertical-scrollbar {
  ::-webkit-scrollbar {
    background-color: transparent;
    width: 0; /* 隐藏纵向滚动条 */
    height: 8px; /* 保留横向滚动条高度 */
  }

  /* 横向滚动条相关样式 */
  ::-webkit-scrollbar-thumb:horizontal {
    background-color: rgba(110, 110, 110, 0.2);
    border-radius: 6px;
  }

  :hover::-webkit-scrollbar-thumb:horizontal {
    background-color: rgba(110, 110, 110, 0.6);
  }

  ::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: rgba(110, 110, 110, 0.8);
  }
}
