@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-button {
    @apply text-sm text-[--van-text-color] cursor-pointer active:opacity-50 select-none border-b-2 border-b-orange-600;
  }
  .text-button-2 {
    @apply text-[--van-text-color] cursor-pointer active:opacity-50 select-none hover:text-orange-600;
  }
  .clickable {
    @apply cursor-pointer opacity-90 active:opacity-100;
  }
  .up-shadow {
    @apply [box-shadow:0_-1px_3px_0_rgb(0,0,0,0.1),0_-1px_2px_-1px_rgb(0,0,0,0.1)];
  }
}
@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@font-face {
  font-family: 'alipuhui';
  src: url('../assets/font/alipuhui.otf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
  font-family:
    PingFang SC,
    BlinkMacSystemFont,
    'alipuhui',
    '微软雅黑',
    Roboto,
    Helvetica Neue,
    sans-serif !important;
  overflow: hidden;
  -ms-overflow-style: none;
}

:root:root {
  --van-search-padding: 6px 10px;
  --van-collapse-item-content-padding: 10px 10px;
  --van-tabs-nav-background: var(--van-background-2);
}
.van-button__text,
.van-button__content,
.van-cell__title {
  color: var(--van-text-color);
}
.van-toast__text {
  color: var(--van-gray-3);
}
.van-button--danger .van-button__content {
  color: white;
}
