@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-button {
    @apply text-sm text-[--van-text-color] cursor-pointer active:opacity-50 select-none border-b-2 border-b-orange-600;
  }
  .text-button-2 {
    @apply text-[--van-text-color] cursor-pointer active:opacity-50 select-none hover:text-orange-600;
  }
  .clickable {
    @apply cursor-pointer opacity-90 active:opacity-100;
  }
  .up-shadow {
    @apply [box-shadow:0_-1px_3px_0_rgb(0,0,0,0.1),0_-1px_2px_-1px_rgb(0,0,0,0.1)];
  }
}

@font-face {
  font-family: 'alipuhui';
  src: url('../assets/font/alipuhui.otf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
  font-family:
    PingFang SC,
    BlinkMacSystemFont,
    'alipuhui',
    '微软雅黑',
    Roboto,
    Helvetica Neue,
    sans-serif !important;
  overflow: hidden;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 6px;
}
:hover::-webkit-scrollbar-thumb {
  background-color: rgba(110, 110, 110, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(110, 110, 110, 0.6);
}
:root:root {
  --van-search-padding: 6px 10px;
}
.van-button__text,
.van-button__content,
.van-cell__title {
  color: var(--van-text-color);
}
.van-button--danger .van-button__content {
  color: white;
}
